#features1-0 P {
  color: #0df936;
}
#features1-0 .mbr-section__col .mbr-header__text {
  color: #fac51c;
}
#ext_menu-b .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-b .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-b .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-c .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #553982;
}
#ext_menu-c .mbr-navbar__section {
  background: #553982;
}
#ext_menu-c .mbr-navbar__hamburger {
  color: #9c9c9c;
}
